.masthead {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: black;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

h1 {
    font-size: 4rem;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}
.custom-link {
    text-decoration: none !important;
    color: #AAA !important;
    font-size: 0.8rem;
    float: right !important;
}

.text-justify-custom {
   text-align: justify !important;
}